<html ng-app="galleryChooser">

  <head>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>

  </head>

  <body ng-controller="galleryChooserCtrl">
    <div id="dropboxChooser"></div>
    <button ng-click="firebasePush()">firebasePush</button>
    <ul>
      <li ng-repeat="photo in photos">
	{{photo.thumbnailLink}}
      </li>
    </ul>
    {{misc.test}}
  </body>

  <!-- Dropbox Chooser API -->
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="fzxzn1xwvxwr8zb"></script>
  <!-- angular main app -->
  <script type="text/javascript" src="js/gallerychooser.js"></script>




</html>
